################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoRentalSystem/.vs/VideoRentalSystem/CopilotIndices/17.12.53.23981
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/4b43e1d7-9fe3-42ee-94e9-41ab325d91d6.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/5eeaa4d8-4fe5-4d6c-b4e3-7fda2094f23b.vsidx
/.vs
/VideoRentalSystem/.vs/ProjectEvaluation/videorentalsystem.metadata.v9.bin
/VideoRentalSystem/.vs/ProjectEvaluation/videorentalsystem.projects.v9.bin
/VideoRentalSystem/.vs/ProjectEvaluation/videorentalsystem.strings.v9.bin
/VideoRentalSystem/.vs/VideoRentalSystem/DesignTimeBuild/.dtbcache.v2
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/04cbd585-61ab-4797-bfe4-a88cd0ce76ec.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/2b87e3fe-e2c1-407b-8da5-8b4688e12c6d.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/2f255277-c61d-4a6c-a6e7-135177eeb61b.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/39493290-a6dd-48d6-a990-c55c3ae5a5cd.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/3d5ba180-ce37-4bc3-b377-a5c9cfd3e9d3.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/91bd0811-767a-4891-adee-b92914407af1.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/b8e65123-ba67-473f-929f-ae179a887c8f.vsidx
/VideoRentalSystem/.vs/VideoRentalSystem/FileContentIndex/cf2f7bde-d719-4642-96df-efb765b41cfe.vsidx
/VideoRentalSystem/VideoRentalSystem/obj/Release/net8.0-windows/VideoRentalSystem.AssemblyInfo.cs
/VideoRentalSystem/.vs/VideoRentalSystem/v17/ResourceExplorer/settings.json
/VideoRentalSystem/.vs/VideoRentalSystem/v17/.futdcache.v2
/VideoRentalSystem/.vs/VideoRentalSystem/v17/.suo
/VideoRentalSystem/.vs/VideoRentalSystem/v17/DocumentLayout.backup.json
/VideoRentalSystem/.vs/VideoRentalSystem/v17/DocumentLayout.json
/VideoRentalSystem/Last/bin/Debug/Last.exe
/VideoRentalSystem/Last/bin/Debug/Last.pdb
/VideoRentalSystem/Last/obj/Debug/Last.csproj.FileListAbsolute.txt
/VideoRentalSystem/Last/obj/Debug/Last.csproj.GenerateResource.cache
/VideoRentalSystem/Last/obj/Debug/Last.exe
/VideoRentalSystem/Last/obj/Debug/Last.pdb
/VideoRentalSystem/Last/obj/Release
/VideoRentalSystem/VideoRentalSystem/obj/project.assets.json
/VideoRentalSystem/VideoRentalSystem/obj/project.nuget.cache
/VideoRentalSystem/VideoRentalSystem/obj/VideoRentalSystem.csproj.nuget.g.props
/VideoRentalSystem/VideoRentalSystem/obj/VideoRentalSystem.csproj.nuget.dgspec.json
/VideoRentalSystem/VideoRentalSystem/obj/Release/net8.0-windows/VideoRentalSystem.GeneratedMSBuildEditorConfig.editorconfig
/VideoRentalSystem/VideoRentalSystem/obj/Release/net8.0-windows/VideoRentalSystem.assets.cache
/VideoRentalSystem/VideoRentalSystem/obj/Release/net8.0-windows/VideoRentalSystem.AssemblyInfoInputs.cache
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.sourcelink.json
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.pdb
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.genruntimeconfig.cache
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.GeneratedMSBuildEditorConfig.editorconfig
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.dll
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.designer.runtimeconfig.json
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.csproj.GenerateResource.cache
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.csproj.FileListAbsolute.txt
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.assets.cache
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.AssemblyInfoInputs.cache
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/VideoRentalSystem.AssemblyInfo.cs
/VideoRentalSystem/VideoRentalSystem/obj/Debug/net8.0-windows/apphost.exe
